<h1>Snapask官網</h1>
<% if current_admin %>
  <%= link_to '所有課程', courses_path, class:'btn' %>
<% elsif current_user %>
  <%= link_to '購買課程', courses_path, class:'btn' %>
  <%= link_to '我的課程', mycourses_course_path(current_user.id), class:'btn' %>  
<% end %>